* {
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --black: #040404;

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --lavender: #e6e6fa;
  --slateblue: #6a5acd;
  --navy: #000080;
  --blue: #1e90ff;
  --violetred: #c71585;
  --orange: #ffa500;
  --red: #dc143c;
  --green: #006400;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* using mobile by default*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white);
}

nav ul li a:hover {
  background-color: var(--gray1);
}

.main {
  margin-top: 100px;
  padding: 0 0.5em;
}

body {
  background: var(--gray3);
  color: var(--black);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  /* color: var(--gray1); */
}

p {
  color: var(--black);
}

.content {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding: 100px;
}

/* .content {
  display: inline-block;
  width: 50%;
  height: 200px;
} */
