* {
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --black: #040404;

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --lavender: #e6e6fa;
  --slateblue: #6a5acd;
  --navy: #000080;
  --blue: #1e90ff;
  --violetred: #c71585;
  --orange: #ffa500;
  --red: #dc143c;
  --green: #006400;
  --background_green: #384438;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
  text-align: center;
  margin: 3%;
}

h3 {
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white);
}

nav ul li a:hover {
  background-color: var(--background_green);
  color: var(--white);
}

body {
  background: var(--gray3);
  color: var(--black);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

.main {
  margin-top: 100px;
  padding: 0 0.5em;
}

@media (max-width: 574px) {
  .main {
    margin-top: 160px;
  }
}

p {
  margin: 20px;
  color: var(--black);
}

section#previous_works ul {
  margin: 15px;
  list-style-type: none;
}

section#previous_works ul li {
  margin: 5px;
  text-align: center;
}

section#about {
  display: inline;
  justify-content: center;
  margin-top: 100px;
}

section#about p {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin: 20px;
  color: var(--black);
}

.dual_content {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.dual_content .image {
  margin: 1%;
}

.dual_content .description {
  margin: 1%;
}

.btn {
  margin: 15px;
}

.btn:hover {
  background-color: var(--background_green);
  color: var(--white);
}

.modal-dialog {
  width: 90%;
  max-width: none;
}

.modal-header {
  background-color: var(--black);
  color: var(--white);
}

.modal-body {
  background-color: var(--gray1);
  display: flex;
  justify-content: center;
}

.modal-body figure {
  margin: 5%;
}
.modal-body figure figcaption {
  max-width: 400px;
}

.btn-close {
  background-color: var(--gray3);
}

.btn-close:hover {
  background-color: var(--background_green);
}

figcaption {
  color: var(--white);
}

.accordion {
  padding-left: 2%;
  padding-right: 2%;
}

.accordion-button {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  display: flex;
}

.accordion-button:hover {
  background-color: var(--background_green);
  color: var(--white);
}

.accordion-button:not(.collapsed) {
  background-color: var(--black);
  color: var(--white);
}

.accordion-button:not(.collapsed):hover {
  background-color: var(--background_green);
  color: var(--white);
}

.accordion-body {
  background-color: var(--gray4);
  color: var(--black);
}

.project_description ul {
  margin-left: 15px;
}

section#contact form {
  padding: 2%;
}
